In [2]:
from pathlib import Path

In [4]:
p = Path('../../')
[x for x in p.iterdir() if x.is_dir()]

[PosixPath('../../.conda'),
 PosixPath('../../.sagemaker'),
 PosixPath('../../sagemaker-studiolab-notebooks'),
 PosixPath('../../.jupyter'),
 PosixPath('../../.local'),
 PosixPath('../../.ipython'),
 PosixPath('../../.cache'),
 PosixPath('../../.config'),
 PosixPath('../../.ipynb_checkpoints'),
 PosixPath('../../.keras'),
 PosixPath('../../.npm'),
 PosixPath('../../.yarn'),
 PosixPath('../../ML-training'),
 PosixPath('../../.bokeh'),
 PosixPath('../../.neptune'),
 PosixPath('../../Data')]

In [59]:
p = Path('../../Data')
q = p / 'cwurData.csv'
q

PosixPath('../../Data/cwurData.csv')

In [60]:
q.resolve()

PosixPath('/home/studio-lab-user/Data/cwurData.csv')

In [61]:
q.exists()

True

In [58]:
q.is_dir()

False

In [72]:
link_path = "Data_csv_0539"
p = Path(link_path)
q = p
dm = q.exists()
_counter = 0

while not dm and _counter < 100:
    link_path = "../" + link_path
    q = Path(link_path)
    print(link_path)
    dm = q.exists()

../Data_csv_0539
../../Data_csv_0539

In [71]:
link_path

'../../Data_csv_0539'

In [136]:
from pathlib import Path
import pandas as pd

def load_csv(file_name = None, dir = "Data_csv_0539"):   
    link_path = dir
    q = Path(link_path)
    check_link = q.exists()
    _counter = 0
    
    while not check_link:
        link_path = "../" + link_path
        q = Path(link_path)
        check_link = q.exists()
        _counter += 1
        if _counter == 100: raise Exception(f"Directory {dir} not found.")
    
    if not file_name: 
        return list(q.glob('*.csv'))
    
    f = q / file_name
    
    if f.exists():
        file_csv = f.resolve()
        return pd.read_csv(file_csv, low_memory=False)
    else:
        raise Exception("File not found.")
    
    return

In [141]:
load_csv("shanghaiData.csv")

,world_rank,university_name,national_rank,total_score,alumni,award,hici,ns,pub,pcp,year
0,1,Harvard University,1,100.0,100.0,100.0,100.0,100.0,100.0,72.4,2005
1,2,University of Cambridge,1,73.6,99.8,93.4,53.3,56.6,70.9,66.9,2005
2,3,Stanford University,2,73.4,41.1,72.2,88.5,70.9,72.3,65.0,2005
3,4,"University of California, Berkeley",3,72.8,71.8,76.0,69.4,73.9,72.2,52.7,2005
4,5,Massachusetts Institute of Technology (MIT),4,70.1,74.0,80.6,66.7,65.8,64.3,53.0,2005
...,...,...,...,...,...,...,...,...,...,...,...
4892,401-500,University of Trieste,11-20,NaN,0.0,0.0,5.0,10.9,25.1,20.1,2015
4893,401-500,University of Zaragoza,9-13,NaN,0.0,0.0,7.6,5.1,33.3,13.1,2015
4894,401-500,Utah State University,126-146,NaN,13.6,0.0,3.6,10.8,25.1,15.5,2015
4895,401-500,Vienna University of Technology,4-6,NaN,0.0,0.0,0.0,12.2,28.8,22.9,2015
4896,401-500,Wake Forest University,126-146,NaN,0.0,0.0,14.9,7.5,25.0,11.9,2015